:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: .88rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 20px;
}

.header_home {
    font-size: 100px;
    line-height: 60px;
    height: 110px;
    text-decoration: none;
    color: var(--secondary-color);
}

.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 40px;
}

.about {
    margin-left: 20px;
}

.button, button {
    background: #aed9ff;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.button:hover, button:hover {
    background: #9cc3e4;
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 20px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

#concert-list li {
    margin-bottom: 1rem;
}

.state {
    display: none;
}

.state.active {
    display: block;
}
.form{
  width: 400px;
  padding: 20px 50px;
}

.form .close{
  text-align: right;
  cursor: pointer;
}

.form .text h1{
  text-align: center;
  margin: 10px 0;
}

.form form{
  display: block;
  margin: auto;
}

.form .row{
  display: flex;
  justify-content: space-between;
}

.form .row input{
  margin-bottom: 0;
}

.form .row input:first-child{
  margin-right: 10px;
}

.form .row input:last-child{
  margin-left: 10px;
}

.form form input{
  width:80%;
  display: block;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 10px 16px;
  margin: 18px auto;
  outline: none;
}
