:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}

body {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/793/732/1019/clouds-sky-blue-sun-wallpaper-preview.jpg');
  font-family: 'Roboto', sans-serif;
  font-size: .88rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.options {
  margin: auto;
  padding: 10px;
  width: 84%;
  border-radius: 1px;
  border-width: 20px;
  border-left-style: solid;
  border-color: #A41034;
  background-color: #cce4f8;
  opacity: 0.92;
  text-align: center;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .8);
}

.options header nav{
  display: flex;
  justify content: space-between;
  align-items: center;
}

.logo h1{
  font-size: 2rem;
  color: #0a2f45;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

h1 {
  transition: all 0.41s ease-in-out;
}

.logo h1:hover {
  transform: scale(1.1);
  box-shadow: 0 0 13px
}

ul {list-style-type: none;
}

ul li{
  float: left;
  padding: 8px 20px;
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: 18px;
  cursor: pointer;
  border-radius: 20px;
  background: #cce4f8;
  box-shadow:
  rgba(26, 62, 83, 0.3)
  3px 3px 10px,
    rgba(444, 414, 413,.7)
  -3px -3px 10px;
}

ul li:active{box-shadow:
  inset rgba(26, 62, 83, 0.3)
  3px 3px 10px,
    inset rgba(444, 414, 413,.7)
  -3px -3px 10px;
}

.about {
    margin-left: 20px;
}

.button, button {

    background: #aed9ff;
    padding: 3px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.button:hover, button:hover {
    background: #9cc3e4;
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 20px;
    opacity: .8;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

#concert-list li {
    margin-bottom: 1rem;
}

.state {
    display: none;
}

.state.active {
    display: block;
}

