:root {
  /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
  --primary-color: #131921;
  --secondary-color: #fff;
  --error-color: rgba(194, 0, 0, 0.71);
}

body {
  /*font-family: "Roboto", sans-serif;*/
  /*font-size: 0.88rem;*/
  background-size: 110%;
  height: 1000px;
  background: #12355d url(resources/3d.jpg) no-repeat center center fixed;
  /*filter: blur (20px);*/
}

.options {
  margin: auto;
  padding: 10px;
  width: 84%;
  border-radius: 1px;
  border-left-style: solid;
  border-width: 8px;
  border-color: #e98c14;
  background-color: white;
  opacity: 0.92;
  text-align: center;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.8);
}
#menu li {
  display: inline-block;
  margin-right: 50px;
}

.list {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #12355d;
  color: white
}
.list1 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.options header nav {
  display: flex;
  justify: content space-between;
  align-items: center;
}

.options header nav img {
  float: left;
  width: 84px;
  height: 84px;
  background: none;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(444, 414, 413, 0.7));
  filter: drop-shadow(5px 5px 5px rgba(26, 62, 83, 0.3));
}

.header-title-text {
  font-size: 42px;
  color: #1e436d;
  text-shadow: 0 13.36px 8.896px rgba(26, 62, 83, 0.3),
    rgba(444, 414, 413, 0.7) -3px -3px 10px;
  letter-spacing: 8px;
}

.header_home {
  font-size: 100px;
  line-height: 60px;
  height: 110px;
  text-decoration: none;
  color: #10325b;
}

h1 {
  transition: all 1s ease-in-out;
  color: #ff5733;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

ul li {
  float: left;
  padding: 8px 13px;
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: 18px;
  cursor: pointer;
  border-color: white;
  color: #1e436d;
  border-width: 3px;
  border-radius: 20px;
  background: #89cff0;

  box-shadow: rgba(26, 62, 83, 0.3) 3px 3px 10px,
    rgba(444, 414, 413, 0.7) -3px -3px 10px;
}

ul li:active {
  box-shadow: inset rgba(26, 62, 83, 0.3) 3px 3px 10px,
    inset rgba(444, 414, 413, 0.7) -3px -3px 10px;
}

.about {
  margin-left: 20px;
}

.button,
button {
  background: #aed9ff;
  padding: 3px;
  border-radius: 50px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.button:hover,
button:hover {
  background: #9cc3e4;
}

.card {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  margin: 20px;
  padding: 10px 20px;
  opacity: 0.8;
}

.validated-field:invalid {
  outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
  color: var(--error-color);
}

.card-content {
  max-width: 500px;
}

.card-content .form-field {
  display: flex;
  flex-direction: column;
}

#concert-list li {
  margin-bottom: 1rem;
}

.state {
  display: none;
}

.state.active {
  display: block;
}

.form {
  width: 400px;
  padding: 20px 50px;
}

.form .close {
  text-align: right;
  cursor: pointer;
}

.form .text h1 {
  text-align: center;
  margin: 10px 0;
}

.form form {
  display: block;
  margin: auto;
}

.form .row {
  display: flex;
  justify-content: space-between;
}

.form .row input {
  margin-bottom: 0;
}

.form .row input:first-child {
  margin-right: 10px;
}

.form .row input:last-child {
  margin-left: 10px;
}

.form form input {
  width: 80%;
  display: block;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 10px 16px;
  margin: 18px auto;
  outline: none;
}

.form-popup {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.8);
  width: 350px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.001);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="phone"],
.form-container input[type="date"],
.form-container input[type="password"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container .btn {
  background-color: #e98c14;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.open-form-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.btn {
  padding: 10px 60px;
  background: #ffe;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}
.center {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: Georgia, sans-serif;
  font-size: 100px;
}
.text {
  position: absolute;
  font-size: 30px;
}

#allMessagesForm {
  position: absolute;
  width: 80%;
}

.closeBtn {
  padding: 10px 60px;
  background: #fff;
  border: 4;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
  color: #333;
}

.myTable {
  width: 100%;
  font-size: 15px;
}

th {
  cursor: pointer;
}
th {
  text-align: left;
  padding: 7px;
  border-radius: 2px;
}
td {
  text-align: left;
  padding: 7px;
  border-radius: 2px;
}
tr:nth-child(odd) {
  background-color: #cce4f8;
}
tr:nth-child(even) {
  background-color: #cce4f8;
}
#myTable tr:hover td {
  background-color: #12355d;
  color: white;
}
#myTable th:hover {
  background-color: #12355d;
  color: white;
}
#formCloseBtn {
  border: 3px #cce4f8;
}
.filterDiv {
  float: left;
  width: 1px;
  height: 42px;
  padding: 12px 12px 12px 12px;
  background: none;
  margin: 12px auto;
}

#filterInput {
  float: left;
  display: block;
  height: 20px;
  width: 150px;
  border-radius: 18px;
  font-size: 15px;
  margin: auto;
  overflow-x: auto;
  white-space: nowrap;
  border-width: 3px;
  outline: none;

}
#filterInput:hover {
  box-shadow: 0 0 13px orange;
  transition: all 0.21s ease-in-out;
}
#allMessagesForm {
  opacity: 98%;
}
#update-arrow:hover {
  color: #ff5733;
}
